 .level {
                font-weight: bold;
                background-image: linear-gradient(141deg, #ff0561 0%, #ff3860 71%, #ff5257 100%);
                margin: 0 !important;
                padding: 1rem;
            }

            .login {
                text-align: center;
            }

            .icons {
                display: block;
                padding: 2rem;
            }
            .icons img {
                width: 70px;
            }

            .icons input[type="radio"],
            .choices input[type="radio"]
            {
                display: none;
            }

            .icons input[type=radio] ~ img,
            .choices input[type=radio] + label{
                font-size: 2rem;
                color: white;
                padding: 0.4rem;
                margin: 0.6rem;
             }

            .icons input[type=radio]:checked ~ img,
            .choices input[type=radio]:checked + label {
                background-color: red;
             }


            input:required:invalid,
            select:required:invalid,
            textarea:required:invalid
            {
              border: 1px solid red;
            }

            input:required:valid,
            select:required:valid,
            textarea:required:valid
            {
              border: 1px solid green;
            }


           #loading {
  background-color: #FAFAFA;
  -webkit-animation: color 8s linear infinite;
          animation: color 8s linear infinite;
}


            #candy {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  margin: calc(50vh - 150px) auto 0 auto;
  width: 100px;
  height: 300px;
  border-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 40px 20px 15px -30px rgba(255, 0, 0, 0.1);
          box-shadow: 40px 20px 15px -30px rgba(255, 0, 0, 0.1);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: PARTY 8s cubic-bezier(0.87, -0.41, 0.19, 1.44) infinite;
          animation: PARTY 8s cubic-bezier(0.87, -0.41, 0.19, 1.44) infinite;
}

#candy-loader {
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 50, 0, 0.8) inset;
          box-shadow: 0px 0px 10px rgba(255, 50, 0, 0.8) inset;
  background: #D33144;
  background: repeating-linear-gradient(45deg, #FFFFEE, #FFFFEE 15px, #D33144 15px, #D33144 30px);
  -webkit-animation: load 8s ease-in infinite;
          animation: load 8s ease-in infinite;
}

#candy-loader::after {
  content: "";
  background-color: #FAFAFA;
  width: 50px;
  height: 270px;
  border-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: color 8s linear infinite;
          animation: color 8s linear infinite;
}

#candy-loader::before {
  content: "";
  background-color: #FAFAFA;
  width: 25px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: color 8s linear infinite;
          animation: color 8s linear infinite;
}

@-webkit-keyframes load {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
}

@keyframes load {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
}

@-webkit-keyframes PARTY {
  5% {
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(90deg) scale(1);
            transform: rotate(90deg) scale(1);
  }
  60% {
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  70% {
    -webkit-transform: rotate(20deg) scale(1);
            transform: rotate(20deg) scale(1);
  }
  80% {
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  90% {
    -webkit-transform: rotate(30deg) scale(1);
            transform: rotate(30deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
}

@keyframes PARTY {
  5% {
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(90deg) scale(1);
            transform: rotate(90deg) scale(1);
  }
  60% {
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  70% {
    -webkit-transform: rotate(20deg) scale(1);
            transform: rotate(20deg) scale(1);
  }
  80% {
    -webkit-transform: rotate(-10deg) scale(1);
            transform: rotate(-10deg) scale(1);
  }
  90% {
    -webkit-transform: rotate(30deg) scale(1);
            transform: rotate(30deg) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-180deg) scale(0);
            transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes color {
  55% {
    background-color: #FAFAFA;
  }
  57% {
    background-color: #31D354;
  }
  95% {
    background-color: #31D354;
  }
}

@keyframes color {
  55% {
    background-color: #FAFAFA;
  }
  57% {
    background-color: #31D354;
  }
  95% {
    background-color: #31D354;
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
